<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bw.mapper.CategoryMapper">

	<select id="getCategoryList" resultType="com.bw.entity.Category" parameterType="int">
			select * from Category where pid = #{0}
	</select>
	
	
</mapper>